html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

html, body {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

body {
    margin: 0;
    padding: 0;
    position: absolute;
    -webkit-app-region: no-drag
    /* max-height: 100%; */
}

body, input {
    font: menu;
}

textarea, input, div, button {
    outline: none;
    margin: 0;
}

.container {
    display: flex;
    height: 100%;
    width: 100%;
    top: 30px;
    position: fixed;
}

.controls {
    visibility: visible;
    display: flex;
    min-width: 8%;
    flex-direction: column;
    background-color: rgb(250, 250, 250);
    padding: 10px;
    align-items: center;
    justify-content: space-between;
    /* box-shadow: 0px 10px 15px #84A1A8; */
    z-index: 2;
    /* border-right: 1px solid gray; */
    /* position: fixed; */
}

.content {
    /* position: fixed; */
}

section {
    visibility: hidden;
    width: 0%;
}

.section.show {
    visibility: visible;
    min-width: 92%;
    height: 100%;
    display: flex;
    background-color: rgb(255, 255, 255);
}

.cloud_content, .setting_content {
    display: flex;
    flex-direction: column;
}

.ui-tab-contents {
    margin-left: 30px;
}

.controls .top_part {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.controls .bottom_part {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

button {
    border: none;
    -webkit-app-region: no-drag
}

.btn_icon {
    background-repeat: no-repeat;
    height: 35px;
    width: 35px;
    background-color: transparent;
    background-size: 100% 100%;
    margin: 20px 0px;
    cursor: pointer
}

.btn_icon:before, .btn_icon:after {
    opacity: 0;
    /*透明度为完全透明*/
    position: absolute;
    z-index: 1000;
    /*设为最上层*/
    /*鼠标放上元素上时的动画，鼠标放上后效果在.tip-*:hover:before, .tip-*:hover:after中设置;
    0.3s:规定完成过渡效果需要多少秒或毫秒,ease:规定慢速开始，然后变快，然后慢速结束的过渡效果*/
    transition: 0.5s ease;
    -webkit-transition: 0.5s ease;
    -moz-transition: 0.5s ease;
}

.btn_icon:before {
    content: '';
    border: 6px solid transparent;
}

.btn_icon:after {
    content: attr(data-btn);
    /*后去要提示的文本*/
    font-size: 15px;
    padding: 7px;
    white-space: nowrap;
    /*强制不换行*/
    background-color: rgb(206, 232, 250);
    /*提示框背景颜色*/
    color: rgb(45, 82, 124);
    /*提示字体颜色*/
    margin-left: -35px;
    margin-top: -17px;
    border-radius: 5px;
}

.btn_icon:hover:before, .btn_icon:hover:after {
    opacity: 1;
    /*鼠标放上时透明度为完全显示*/
    z-index: 1000;
}

#new_file {
    background-image: url(../../assets/images/edit.png);
}

#new_file:hover {
    /* background-image: url(../../assets/images/new_hover.png); */
    background-image: none;
}

#files {
    background-image: url(../../assets/images/files.png);
}

#files:hover {
    /* background-image: url(../../assets/images/files_hover.png); */
    background-image: none;
}

#save {
    background-image: url(../../assets/images/save.png);
}

#save:hover {
    /* background-image: url(../../assets/images/save_hover.png); */
    background-image: none;
}

#cloud {
    background-image: url(../../assets/images/cloud.png);
}

#cloud:hover {
    /* background-image: url(../../assets/images/cloud_hover.png); */
    background-image: none;
}

#user {
    background-image: url(../../assets/images/paper-plane.png);
}

#user:hover {
    background-image: none;
}

#setting_btn {
    background-image: url(../../assets/images/settings.png);
}

#setting_btn:hover {
    /* background-image: url(../../assets/images/settings_hover.png); */
    background-image: none;
}

.raw_markdown, .renderer_html {
    /* min-height: 100%; */
    height: 100%;
    max-width: 50%;
    width: 50%;
    flex-grow: 1;
    padding: 50px 20px;
    padding-top: 0px;
    overflow: scroll;
    font-size: 16px;
}

.mde {
    display: flex;
    width: 50%;
    max-height: 100%;
    flex-direction: column;
}

/*滚动条整体样式*/

::-webkit-scrollbar {
    width: 10px;
    height: 1px;
}

/*滚动条滑块*/

::-webkit-scrollbar-thumb {
    /* border-radius: 10px; */
    /* -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2); */
    background: rgb(206, 232, 250, 1);
}

/*滚动条轨道*/

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 1px rgba(0, 0, 0, 0);
    /* border-radius: 10px; */
    background: #ccc;
    background: transparent;
}

.neeto-setting_content{
    display: flex;
    flex-direction: column;
    align-items: right;
    justify-content: center;
    height: 100%;
    width: 100%;
    /* margin-left: 100px; */
}
.neeto-setting_content .setting_content_item{
    margin: 20px;
    text-align: right;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30vh;
    
}
.neeto-setting_content .setting_content_item span{
    /* margin-right: 30px; */
}



.CodeMirror {
    height: 100%;
    border: none;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    padding: 30px 20px;
    padding-top: 0px;
    overflow-x: hidden;
    overflow-y: hidden;
    font: inherit;
    z-index: 1;
    font-family: "webfont" !important;
    font-size: 16px;
    font-style: normal;
}

.editor-toolbar {
    border: none;
}

.ui-tab-tabs.default-tabs {
    width: 100%;
}

.ui-tab-tab {
    margin-left: 30px;
}

.ui-lightip {
    padding-bottom: 30px;
    list-style-type: square;
}
.ui-dialog-footer{
    max-height: none;
}




@font-face {
    font-family: 'webfont';
    font-display: swap;
    src: url('https://at.alicdn.com/t/webfont_a0llrqxj12k.eot');
    /* IE9*/
    src: url('https://at.alicdn.com/t/webfont_a0llrqxj12k.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('https://at.alicdn.com/t/webfont_a0llrqxj12k.woff2') format('woff2'), url('https://at.alicdn.com/t/webfont_a0llrqxj12k.woff') format('woff'), /* chrome、firefox */
    url('https://at.alicdn.com/t/webfont_a0llrqxj12k.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url('https://at.alicdn.com/t/webfont_a0llrqxj12k.svg#Alibaba-PuHuiTi-Regular') format('svg');
    /* iOS 4.1- */
}