html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

html, body {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

body {
    margin: 0;
    padding: 0;
    position: absolute;
    max-height: 100%;
}

body, input {
    font: menu;
}

textarea, input, div, button {
    outline: none;
    margin: 0;
}

.controls {
    background-color: rgb(217, 241, 238);
    padding: 10px;
    /* position: fixed; */
}

button {
    font-size: 14px;
    background-color: rgb(181, 220, 216);
    border: none;
    padding: 0.5em 1em;
}

button:hover {
    background-color: rgb(156, 198, 192);
}

button:active {
    background-color: rgb(144, 182, 177);
}

button:disabled {
    background-color: rgb(196, 204, 202);
}

.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    min-width: 100vw;
    position: relative;
}

.content {
    height: 100vh;
    display: flex;
    /* position: fixed; */
}

.raw_markdown, .renderer_html {
    /* min-height: 100%; */
    height: 93%;
    max-width: 50%;
    width: 50%;
    flex-grow: 1;
    padding: 50px 20px;
    overflow: scroll;
    font-size: 16px;
}

.mde {
    display: flex;
    width: 50%;
    max-height: 100%;
    flex-direction: column;
}

.raw_markdown {
    /* border: 5px solid rgb(41,45,62);
    background-color: rgb(41,45,62);
    color: rgb(178,204,214);
    font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace; */
}

.CodeMirror-scroll .drag-over {
    background-color: rgb(181, 220, 216);
    border-color: rgb(75, 160, 151);
}

.CodeMirror-scroll .drag-error {
    background-color: rgb(170, 57, 57, 1);
    border-color: rgb(255, 170, 170, 1);
}

/*滚动条整体样式*/

::-webkit-scrollbar {
    width: 10px;
    height: 1px;
}

/*滚动条滑块*/

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
    background: #535353;
}

/*滚动条轨道*/

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 1px rgba(0, 0, 0, 0);
    border-radius: 10px;
    background: #ccc;
}

.CodeMirror {
    height: 87%;
    border: 1px solid #ddd;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    padding: 30px 20px;
    overflow-x: hidden;
    overflow-y: hidden;
    font: inherit;
    z-index: 1;
}